# Unit 2
---




1. [Introducing Pandas](#section1)
2. [Reading files](#section2)
3. [Selecting data](#section3)
4. [Describe the data](#section4)
5. [Conditional selection](#section5)

<a id='section1'></a>

## 1. Introducing Pandas
---

<div>
<img src="images/pandas.JPG" width="400"/>
</div>



[Panda's documentation](https://pandas.pydata.org/pandas-docs/stable/)

To begin we need to import pandas
When you see pd, know it is referring to pandas

In [3]:
import numpy as np
import pandas as pd

Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet).

There are two main data structure used by pandas
- Series: equivalent to a vector or a list
- Dataframe: equivalent to a table.

Creating a dataframe from a list:

In [2]:
lst = ['Intro', 'To', 'Data', 'Analysis', 
            '101']
df = pd.DataFrame(lst)
df

          0
0     Intro
1        To
2      Data
3  Analysis
4       101

Creating a dataframe from a dictionary:

In [3]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Pandas format is similar to a dictionary, not to a list

Each column in a pandas Dataframe is a pandas Series data structure. We will mainly be looking at the Dataframe.

We can easily create a Pandas Dataframe by reading a .csv file

<a id='section2'></a>

## 2. Reading files
---

<div>
<img src="images/reading.PNG" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

Press on raw either here:

<div>
<img src="images/raw.png" width="800"/>
</div>

or here:

<div>
<img src="images/unit1_raw2.jpg" width="800"/>
</div>

and retrieve the link:

<div>
<img src="images/unit1_raw3.jpg" width="800"/>
</div>

In [13]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

In [5]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [6]:
vacc_df.shape

(114729, 16)

view basic information:

In [7]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114729 entries, 0 to 114728
Data columns (total 16 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             114729 non-null  object
 1   iso_code                             114729 non-null  object
 2   date                                 114729 non-null  object
 3   total_vaccinations                   57909 non-null   float64
 4   people_vaccinated                    55240 non-null   float64
 5   people_fully_vaccinated              52786 non-null   float64
 6   total_boosters                       28575 non-null   float64
 7   daily_vaccinations_raw               47816 non-null   float64
 8   daily_vaccinations                   114145 non-null  float64
 9   total_vaccinations_per_hundred       57909 non-null   float64
 10  people_vaccinated_per_hundred        55240 non-null   float64
 11  people_fully_vaccinated_per_hundred  52786 non-null   float64
 12  total_boosters_per_hundred           28575 non-null   float64
 13  daily_vaccinations_per_million       114145 non-null  float64
 14  daily_people_vaccinated              113251 non-null  float64
 15  daily_people_vaccinated_per_hundred  113251 non-null  float64
dtypes: float64(13), object(3)
memory usage: 14.0+ MB

In [8]:
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'daily_vaccinations_per_million', 'daily_people_vaccinated',
       'daily_people_vaccinated_per_hundred'],
      dtype='object')

We can view unique values:

In [ ]:
vacc_df['location'].unique()

View the first few rows:

In [ ]:
vacc_df.head()

What do you think that the 'tail' command does? Try it out!

What happens if we just type vacc_df, without a head or a tail?

In [ ]:
vacc_df.tail()

---
A summary of the functions so far:

>* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
>* `.info()` - View basic infomation about rows, columns & data types
>* `.columns` - Get the list of column names
>* `.shape` - Get the number of rows & columns as a tuple
>* `.head()`, `.tail()` - View the beginning/end of the file
>* `.unique()` - view the unique entries in a series (not a dataframe) object

<a id='section3'></a>

---
## 3. Selecting data

This is a dataframe:

![](https://i.imgur.com/zfxLzEv.png)

#### The index of a dataframe doesn't have to be numeric

In [11]:
df = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
df

           age  color    food  height  score state
Jane        30   blue   Steak     165    4.6    NY
Nick         2  green    Lamb      70    8.3    TX
Aaron       12    red   Mango     120    9.0    FL
Penelope     4  white   Apple      80    3.3    AL
Dean        32   gray  Cheese     180    1.8    AK
Christina   33  black   Melon     172    9.5    TX
Cornelia    69    red   Beans     150    2.2    TX

In our our file the index is numeric:

In [12]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

Select a single column:

return a single column as a series:

select a specific cell

In [13]:
vacc_df.location[600]

'Africa'

select two columns

In [14]:
vacc_df[['location','date']]

           location        date
0       Afghanistan  2021-02-22
1       Afghanistan  2021-02-23
2       Afghanistan  2021-02-24
3       Afghanistan  2021-02-25
4       Afghanistan  2021-02-26
...             ...         ...
114724     Zimbabwe  2022-07-04
114725     Zimbabwe  2022-07-05
114726     Zimbabwe  2022-07-06
114727     Zimbabwe  2022-07-07
114728     Zimbabwe  2022-07-08

[114729 rows x 2 columns]

---
> Now you:
>
> (1) Select the `iso_code` column from the `vacc_df` dataframe
>
> (2) Select only the `iso_code` at index 3
>
> (3) What is the difference between `vacc_df[['location']]` and `vacc_df['location']` and `vacc_df.location` ?  Use `type` to find out

---

### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [15]:
vacc_df.iloc[0]  #first row as a series
vacc_df.iloc[0:1]  #first row as a dataframe
vacc_df.iloc[-1] #last row as a series
vacc_df.iloc[-1:] #last row as a dataframe

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
114728,Zimbabwe,ZWE,2022-07-08,12045572.0,6331851.0,4637374.0,1076347.0,3595.0,10180.0,75.32,39.59,29.0,6.73,637.0,3769.0,0.024

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

In [16]:
vacc_df.iloc[2:4] # second and third row
vacc_df.iloc[[-1,2,22]] #a few specific rows

# Columns:
vacc_df.iloc[:,0] # first column of data frame  
vacc_df.iloc[:,1] # second column of data frame  
vacc_df.iloc[:,-1] # last column of data frame

#Rows and columns
vacc_df.iloc[0:5] # first five rows of dataframe
vacc_df.iloc[4:6, 0:2] # first two columns of data frame with all rows
vacc_df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

       location  people_fully_vaccinated  total_boosters
0   Afghanistan                      NaN             NaN
3   Afghanistan                      NaN             NaN
6   Afghanistan                      NaN             NaN
24  Afghanistan                      NaN             NaN

What if I want to select the 'daily_vaccinations' column, but I don't remember the column number?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [17]:
vacc_df.loc[2:3,['daily_vaccinations','date']]

   daily_vaccinations        date
2              1367.0  2021-02-24
3              1367.0  2021-02-25

I'm missing the location. Let's add it.

In [ ]:
vacc_df.loc[0:3,['location','daily_vaccinations','date']]

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

---

>Now you: 
>
>what do you do to select:
>
>a. first five rows?
>
>b. first two columns, all rows?
>
>c. 1st and 3rd row and 2nd and 4th column?

---

---
A summary of the functions in this unit:

>* `.iloc` - selects rows and columns by integer location
>* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

<a id='section4'></a>

## 4. Describe the data:

Describe the data

In [ ]:
vacc_df.describe()

a note on e: e stands for exponent of 10, and it's always followed by another number, which is the value of the exponent

10e + 1 = 100

10e + 2 = 1000

describe categorical data:

In [ ]:
vacc_df[['location']].describe()

`High income` is not a location, we have a few of these here. Also have `Africa`, `World` and some others

Count how many times each location is mentioned in the dataset

In [ ]:
vacc_df[['location']].value_counts().head()

<a id='section5'></a>

## 5. Conditional selection

In [ ]:
vacc_df.loc[:,'location'] == 'Israel'

This creates a series of true/false 

We can insert this into the dataframe to select only that task:

In [ ]:
vacc_df[vacc_df.loc[:,'location'] == 'Israel']

Another way:

In [ ]:
vacc_df.loc[vacc_df.location == 'Israel']

Select two countries:

In [ ]:
two_countries = vacc_df.loc[(vacc_df.location == 'Israel') | (vacc_df.location == 'Denmark')]
two_countries.head()

only the indexs of the tasks:

In [ ]:
two_countries.index.values

the index in the first place:

In [28]:
two_countries.index.values[0]

27247

how many rows for the two countries?

In [ ]:
len(two_countries)

In [ ]:
two_countries.count()

At the end of the file we have some `world` data.

Use str.contains if you're not sure how this location is called

vacc_df[vacc_df['location'].str.contains('Wo')]

Remove the world data:

In [ ]:
vacc_df_noWorld = vacc_df.loc[vacc_df.location != 'World']
vacc_df_noWorld.tail()

Find the country with the maximum vaccinations:

In [ ]:
max_vacc = vacc_df_noWorld['total_vaccinations'].max()
max_vacc

In [ ]:
vacc_df_noWorld.loc[vacc_df_noWorld.total_vaccinations == max_vacc]

What do you think this function does?

In [ ]:
vacc_df_noWorld.total_vaccinations.mean()

----
#### Your turn:

Select the number of daily vaccinations in Israel on date 2021-02-06 (hint: use &)

Find all the countries with more than 3000000 vaccinations

---
Summary of the functions in this unit:

>* `.describe()` - View statistical information about the data
>* `value_counts` - counts how many times a certain value appears in a column 
>* `.index.values` - the row indexes of this part of the dataframes
>* `.str.contains` - selects rows and columns that contain a string
>* `.max` - maximum value
>* `.mean` - average value
>* `.count` - the number of rows that contain a value
>* `len()` - dataframe length