# Unit 2
---




1. [Introducing Pandas](#section1)
2. [Reading files](#section2)
3. [Selecting data](#section3)
4. [Describe the data](#section4)
5. [Conditional selection](#section5)

<a id='section1'></a>

## 1. Introducing Pandas
---

<div>
<img src="images/pandas.JPG" width="400"/>
</div>



[Panda's documentation](https://pandas.pydata.org/pandas-docs/stable/)

To begin we need to import pandas
When you see pd, know it is referring to pandas

In [1]:
import numpy as np
import pandas as pd

Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet).

There are two main data structure used by pandas
- Series: equivalent to a vector or a list
- Dataframe: equivalent to a table.

Creating a dataframe from a list:

In [2]:
lst = ['Intro', 'To', 'Data', 'Analysis', 
            '101']
df = pd.DataFrame(lst)
df

          0
0     Intro
1        To
2      Data
3  Analysis
4       101

Creating a dataframe from a dictionary:

In [3]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Pandas format is similar to a dictionary, not to a list

Each column in a pandas Dataframe is a pandas Series data structure. We will mainly be looking at the Dataframe.

We can easily create a Pandas Dataframe by reading a .csv file

<a id='section2'></a>

## 2. Reading files
---

<div>
<img src="images/reading.PNG" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

Press on raw either here:

<div>
<img src="images/raw.png" width="800"/>
</div>

or here:

<div>
<img src="images/unit1_raw2.jpg" width="800"/>
</div>

and retrieve the link:

<div>
<img src="images/unit1_raw3.jpg" width="800"/>
</div>

In [4]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

In [5]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [36]:
vacc_df.shape

(114729, 16)

view basic information:

In [37]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114729 entries, 0 to 114728
Data columns (total 16 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             114729 non-null  object
 1   iso_code                             114729 non-null  object
 2   date                                 114729 non-null  object
 3   total_vaccinations                   57909 non-null   float64
 4   people_vaccinated                    55240 non-null   float64
 5   people_fully_vaccinated              52786 non-null   float64
 6   total_boosters                       28575 non-null   float64
 7   daily_vaccinations_raw               47816 non-null   float64
 8   daily_vaccinations                   114145 non-null  float64
 9   total_vaccinations_per_hundred       57909 non-null   float64
 10  people_vaccinated_per_hundred        55240 non-null   float64
 11  people_fully_vaccinated_per_hundred  52786 non-null   float64
 12  total_boosters_per_hundred           28575 non-null   float64
 13  daily_vaccinations_per_million       114145 non-null  float64
 14  daily_people_vaccinated              113251 non-null  float64
 15  daily_people_vaccinated_per_hundred  113251 non-null  float64
dtypes: float64(13), object(3)
memory usage: 14.0+ MB

In [ ]:
vacc_df.columns

View the first few rows:

In [ ]:
vacc_df.head()

What do you think that the 'tail' command does? Try it out!

What happens if we just type vacc_df, without a head or a tail?

In [ ]:
vacc_df.tail()

---
A summary of the functions so far:

>* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
>* `.info()` - View basic infomation about rows, columns & data types
>* `.columns` - Get the list of column names
>* `.shape` - Get the number of rows & columns as a tuple
>* `.head()`, `.tail()` - View the beginning/end of the file

<a id='section3'></a>

---
## 3. Selecting data

This is a dataframe:

![](https://i.imgur.com/zfxLzEv.png)

#### The index of a dataframe doesn't have to be numeric

In [ ]:
df = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
df

In our our file the index is numeric:

In [ ]:
vacc_df.head()

Select a single column:

return a single column as a series:

select a specific cell

In [ ]:
vacc_df.location[600]

select two columns

In [ ]:
vacc_df[['location','date']]

---
> Now you:
>
> (1) Select the `iso_code` column from the `vacc_df` dataframe
>
> (2) Select only the `iso_code` at index 3
>
> (3) What is the difference between `vacc_df[['location']]` and `vacc_df['location']` and `vacc_df.location` ?  Use `type` to find out

---

### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [ ]:
vacc_df.iloc[0]  #first row as a series
vacc_df.iloc[0:1]  #first row as a dataframe
vacc_df.iloc[-1] #last row as a series
vacc_df.iloc[-1:] #last row as a dataframe

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

In [ ]:
vacc_df.iloc[2:4] # second and third row
vacc_df.iloc[[-1,2,22]] #a few specific rows

# Columns:
vacc_df.iloc[:,0] # first column of data frame  
vacc_df.iloc[:,1] # second column of data frame  
vacc_df.iloc[:,-1] # last column of data frame

#Rows and columns
vacc_df.iloc[0:5] # first five rows of dataframe
vacc_df.iloc[4:6, 0:2] # first two columns of data frame with all rows
vacc_df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

What if I want to select the 'daily_vaccinations' column, but I don't remember the column number?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [ ]:
vacc_df.loc[2:3,['daily_vaccinations','date']]

I'm missing the location. Let's add it.

In [ ]:
vacc_df.loc[0:3,['location','daily_vaccinations','date']]

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

In [ ]:
 vacc_df.iloc[0:5]

In [ ]:
vacc_df.loc[0:5]

---

>Now you: 
>
>what do you do to select:
>
>a. first five rows?
>
>b. first two columns, all rows?
>
>c. 1st and 3rd row and 2nd and 4th column?

---

---
A summary of the functions in this unit:

>* `.iloc` - selects rows and columns by integer location
>* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

<a id='section4'></a>

## 4. Describe the data:

Describe the data

In [21]:
vacc_df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
count,5.790900e+04,5.524000e+04,5.278600e+04,2.857500e+04,4.781600e+04,1.141450e+05,57909.000000,55240.000000,52786.000000,28575.000000,114145.000000,1.132510e+05,113251.000000
mean,2.394231e+08,1.142161e+08,9.623001e+07,4.409454e+07,9.972179e+05,4.355853e+05,93.243004,44.813196,39.518811,21.973038,2818.747102,1.674535e+05,0.119441
std,1.025852e+09,4.881537e+08,4.266020e+08,1.885043e+08,3.814948e+06,2.477186e+06,75.014145,29.992182,29.251479,23.399367,3685.560644,1.017140e+06,0.218105
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,9.651310e+05,5.671282e+05,4.593112e+05,5.277450e+04,4.960750e+03,7.790000e+02,21.050000,14.390000,9.210000,0.500000,429.000000,2.410000e+02,0.011000
50%,7.249891e+06,4.156736e+06,3.519271e+06,1.554127e+06,3.509250e+04,7.515000e+03,85.150000,49.050000,41.010000,12.090000,1569.000000,2.590000e+03,0.047000
75%,4.812860e+07,2.494277e+07,2.118157e+07,1.177924e+07,2.548742e+05,5.459100e+04,150.180000,72.020000,65.960000,40.380000,3985.000000,1.976950e+04,0.145000
max,1.221806e+10,5.279179e+09,4.845680e+09,2.177649e+09,4.967315e+07,4.368842e+07,366.870000,128.780000,126.790000,129.530000,117862.000000,2.106964e+07,11.786000

a note on e: e stands for exponent of 10, and it's always followed by another number, which is the value of the exponent

10e + 1 = 100

10e + 2 = 1000

describe categorical data:

In [22]:
vacc_df[['location']].describe()

       location
count    114729
unique      235
top      Europe
freq        592

`High income` is not a location, we have a few of these here. Also have `Africa`, `World` and some others

<a id='section5'></a>

## 5. Conditional selection

In [23]:
vacc_df.loc[:,'location'] == 'Israel'

0         False
1         False
2         False
3         False
4         False
          ...
114724    False
114725    False
114726    False
114727    False
114728    False
Name: location, Length: 114729, dtype: bool

This creates a series of true/false 

We can insert this into the dataframe to select only that task:

In [24]:
vacc_df[vacc_df.loc[:,'location'] == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
50138,Israel,ISR,2020-12-19,73.0,69.0,4.0,NaN,NaN,NaN,0.00,0.00,0.00,NaN,NaN,NaN,NaN
50139,Israel,ISR,2020-12-20,7465.0,7461.0,4.0,NaN,7392.0,7392.0,0.08,0.08,0.00,NaN,796.0,7392.0,0.080
50140,Israel,ISR,2020-12-21,32386.0,32382.0,4.0,NaN,24921.0,16156.0,0.35,0.35,0.00,NaN,1739.0,16156.0,0.174
50141,Israel,ISR,2020-12-22,77047.0,77043.0,4.0,NaN,44661.0,25658.0,0.83,0.83,0.00,NaN,2762.0,25658.0,0.276
50142,Israel,ISR,2020-12-23,139958.0,139954.0,4.0,NaN,62911.0,34971.0,1.51,1.51,0.00,NaN,3764.0,34971.0,0.376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50708,Israel,ISR,2022-07-12,18198689.0,6713422.0,6146974.0,5338293.0,959.0,776.0,195.87,72.26,66.16,57.46,84.0,55.0,0.001
50709,Israel,ISR,2022-07-13,18199477.0,6713467.0,6147073.0,5338937.0,788.0,738.0,195.88,72.26,66.16,57.46,79.0,50.0,0.001
50710,Israel,ISR,2022-07-14,18200398.0,6713536.0,6147216.0,5339646.0,921.0,695.0,195.89,72.26,66.16,57.47,75.0,49.0,0.001
50711,Israel,ISR,2022-07-15,18200813.0,6713595.0,6147277.0,5339941.0,415.0,719.0,195.90,72.26,66.16,57.47,77.0,55.0,0.001
50712,Israel,ISR,2022-07-16,18200833.0,6713595.0,6147283.0,5339955.0,20.0,655.0,195.90,72.26,66.16,57.47,70.0,49.0,0.001

Another way:

In [25]:
vacc_df.loc[vacc_df.location == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
50138,Israel,ISR,2020-12-19,73.0,69.0,4.0,NaN,NaN,NaN,0.00,0.00,0.00,NaN,NaN,NaN,NaN
50139,Israel,ISR,2020-12-20,7465.0,7461.0,4.0,NaN,7392.0,7392.0,0.08,0.08,0.00,NaN,796.0,7392.0,0.080
50140,Israel,ISR,2020-12-21,32386.0,32382.0,4.0,NaN,24921.0,16156.0,0.35,0.35,0.00,NaN,1739.0,16156.0,0.174
50141,Israel,ISR,2020-12-22,77047.0,77043.0,4.0,NaN,44661.0,25658.0,0.83,0.83,0.00,NaN,2762.0,25658.0,0.276
50142,Israel,ISR,2020-12-23,139958.0,139954.0,4.0,NaN,62911.0,34971.0,1.51,1.51,0.00,NaN,3764.0,34971.0,0.376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50708,Israel,ISR,2022-07-12,18198689.0,6713422.0,6146974.0,5338293.0,959.0,776.0,195.87,72.26,66.16,57.46,84.0,55.0,0.001
50709,Israel,ISR,2022-07-13,18199477.0,6713467.0,6147073.0,5338937.0,788.0,738.0,195.88,72.26,66.16,57.46,79.0,50.0,0.001
50710,Israel,ISR,2022-07-14,18200398.0,6713536.0,6147216.0,5339646.0,921.0,695.0,195.89,72.26,66.16,57.47,75.0,49.0,0.001
50711,Israel,ISR,2022-07-15,18200813.0,6713595.0,6147277.0,5339941.0,415.0,719.0,195.90,72.26,66.16,57.47,77.0,55.0,0.001
50712,Israel,ISR,2022-07-16,18200833.0,6713595.0,6147283.0,5339955.0,20.0,655.0,195.90,72.26,66.16,57.47,70.0,49.0,0.001

Select two countries:

In [26]:
two_countries = vacc_df.loc[(vacc_df.location == 'Israel') | (vacc_df.location == 'Denmark')]
two_countries.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
27247,Denmark,DNK,2020-12-08,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
27248,Denmark,DNK,2020-12-09,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
27249,Denmark,DNK,2020-12-10,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
27250,Denmark,DNK,2020-12-11,2.0,2.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
27251,Denmark,DNK,2020-12-12,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0

only the indexs of the tasks:

In [27]:
two_countries.index.values

array([27247, 27248, 27249, ..., 50710, 50711, 50712], dtype=int64)

the index in the first place:

In [28]:
two_countries.index.values[0]

27247

how many rows for the two countries?

In [29]:
len(two_countries)

1159

In [30]:
two_countries.count()

location                               1159
iso_code                               1159
date                                   1159
total_vaccinations                     1152
people_vaccinated                      1152
people_fully_vaccinated                1137
total_boosters                          887
daily_vaccinations_raw                 1146
daily_vaccinations                     1157
total_vaccinations_per_hundred         1152
people_vaccinated_per_hundred          1152
people_fully_vaccinated_per_hundred    1137
total_boosters_per_hundred              887
daily_vaccinations_per_million         1157
daily_people_vaccinated                1157
daily_people_vaccinated_per_hundred    1157
dtype: int64

At the end of the file we have some world data.

Use str.contains if you're not sure how this location is called

In [31]:
vacc_df[vacc_df['location'].str.contains('Wo')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
112770,World,OWID_WRL,2020-12-02,0.000000e+00,0.000000e+00,NaN,NaN,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0.0,0.0
112771,World,OWID_WRL,2020-12-03,0.000000e+00,0.000000e+00,NaN,NaN,1.0,1.0,0.00,0.00,NaN,NaN,0.0,1.0,0.0
112772,World,OWID_WRL,2020-12-04,1.000000e+00,1.000000e+00,NaN,NaN,1.0,1.0,0.00,0.00,NaN,NaN,0.0,1.0,0.0
112773,World,OWID_WRL,2020-12-05,1.000000e+00,1.000000e+00,NaN,NaN,1.0,1.0,0.00,0.00,NaN,NaN,0.0,1.0,0.0
112774,World,OWID_WRL,2020-12-06,1.000000e+00,1.000000e+00,NaN,NaN,1.0,1.0,0.00,0.00,NaN,NaN,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113357,World,OWID_WRL,2022-07-12,1.219921e+10,5.278003e+09,4.840962e+09,2.167469e+09,NaN,NaN,154.24,66.73,61.21,27.40,NaN,NaN,NaN
113358,World,OWID_WRL,2022-07-13,1.220429e+10,5.278336e+09,4.842228e+09,2.170232e+09,NaN,NaN,154.30,66.74,61.22,27.44,NaN,NaN,NaN
113359,World,OWID_WRL,2022-07-14,1.221037e+10,5.278619e+09,4.844323e+09,2.173220e+09,NaN,NaN,154.38,66.74,61.25,27.48,NaN,NaN,NaN
113360,World,OWID_WRL,2022-07-15,1.221627e+10,5.279108e+09,4.845470e+09,2.176681e+09,NaN,NaN,154.45,66.75,61.26,27.52,NaN,NaN,NaN
113361,World,OWID_WRL,2022-07-16,1.221806e+10,5.279179e+09,4.845680e+09,2.177649e+09,NaN,NaN,154.48,66.75,61.27,27.53,NaN,NaN,NaN

Remove the world data:

In [32]:
vacc_df_noWorld = vacc_df.loc[vacc_df.location != 'World']
vacc_df_noWorld.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
114724,Zimbabwe,ZWE,2022-07-04,12023341.0,6323289.0,4629963.0,1070089.0,16838.0,10797.0,75.18,39.54,28.95,6.69,675.0,3784.0,0.024
114725,Zimbabwe,ZWE,2022-07-05,12025740.0,6324174.0,4630484.0,1071082.0,2399.0,10821.0,75.19,39.54,28.95,6.70,677.0,3836.0,0.024
114726,Zimbabwe,ZWE,2022-07-06,NaN,NaN,NaN,NaN,NaN,10727.0,NaN,NaN,NaN,NaN,671.0,4011.0,0.025
114727,Zimbabwe,ZWE,2022-07-07,12041977.0,6330677.0,4636182.0,1075118.0,NaN,10776.0,75.29,39.58,28.99,6.72,674.0,4038.0,0.025
114728,Zimbabwe,ZWE,2022-07-08,12045572.0,6331851.0,4637374.0,1076347.0,3595.0,10180.0,75.32,39.59,29.00,6.73,637.0,3769.0,0.024

Find the country with the maximum vaccinations:

In [33]:
max_vacc = vacc_df_noWorld['total_vaccinations'].max()
max_vacc

8327049879.0

In [34]:
vacc_df_noWorld.loc[vacc_df_noWorld.total_vaccinations == max_vacc]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
6117,Asia,OWID_ASI,2022-07-16,8.327050e+09,3.568973e+09,3.329759e+09,1.373953e+09,NaN,NaN,177.43,76.05,70.95,29.28,NaN,NaN,NaN

What do you think this function does?

In [35]:
vacc_df_noWorld.total_vaccinations.mean()

180685035.80192614

----
#### Your turn:

Select the number of daily vaccinations in Israel on date 2021-02-06 (hint: use &)

Find all the countries with more than 3000000 vaccinations

---
Summary of the functions in this unit:

>* `.describe()` - View statistical information about the data
>* `.index.values` - the row indexes of this part of the dataframes
>* `.str.contains` - selects rows and columns that contain a string
>* `.max` - maximum value
>* `.mean` - average value
>* `.count` - the number of rows that contain a value
>* `len()` - dataframe length